aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/darwin_arm64/terraform-provider-aws_v4.67.0_x5
aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/helm/2.12.1/darwin_arm64/terraform-provider-helm_v2.12.1_x5
aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/local/2.4.1/darwin_arm64/terraform-provider-local_v2.4.1_x5
aws/terraform/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.5/darwin_arm64/terraform-provider-tls_v4.0.5_x5
aws/terraform/.terraform.lock.hcl
aws/terraform/Inforiver-key-pair.pem
aws/terraform/terraform.tfstate
aws/terraform/terraform.tfstate.backup
aws/terraform/values.tfvars
